body {
  display: grid;
  justify-items: center;
  background-color: #f7f7f7;
  font-family: Arial, Arial, Helvetica, sans-serif;
  gap: 60px;
  margin: 0;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

/* Nav */
.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  display: block;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.menu a:hover {
  border-color: #e21;
}

/* Main Content */

.wrapper-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

/* Main Wrapper  */
.introduction-wrapper {
  display: grid;
  align-content: center;
  justify-items: end;
  text-align: right;
  background-color: white;
  position: relative;
  padding: 2.5rem;
  gap: 1.25rem;
}

.introduction-wrapper h1 {
  font-size: 2rem;
}

.introduction-wrapper::before {
  width: 3.75rem;
  height: 4px;
  content: '';
  position: absolute;
  background: #ee2211;
  top: 2rem;
  right: -2rem;
}

.introduction-header {
  font-size: 2rem;
  margin: 0px;
}

.introduction-wrapper p {
  /* font-weight: bold; */
  color: #000;
}

.introduction-view {
  background-color: #e21;
  color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.introduction-view:hover {
  background: #900;
}

.introduction #photo {
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

/* Photo */
#photo {
  display: block;
  max-width: 100%;
}

/* benifits-wrapper */
.benifits-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

#benefits-title {
  align-self: center;
  text-align: right;
  color: rgba(0, 0, 0, 0.2);
  padding: 40px;
  font-size: 4rem;
  background-image: url('../imgs/wave.svg');
}

/* info-wrapper  */
.info-wrapper {
  background-color: #fff;
  padding: 1rem;
}

.info-item {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1.25rem;
  gap: 0.625rem 1.25rem;
}

.info-item:hover {
  border-left: 3px solid red;
}

.info-item:nth-child(odd) {
  background: #f7f7f7;
}

.info-item p {
  grid-column: 2;
}
/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
  background-color: #fff;
}

/* Media Queries */

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .introduction {
    grid-template-columns: 1fr;
  }
  .introduction-wrapper {
    justify-items: start;
    text-align: left;
  }
  .introduction-wrapper::before {
    display: none;
  }
  #benefits-title {
    font-size: 3rem;
    text-align: center;
  }
  .footer {
    margin-top: -50px;
  }
}

@media (max-width: 1000px) {
  .benefits {
    grid-template-columns: 1fr;
  }
  #benefits-title {
    text-align: center;
  }
}

@media (max-width: 350px) {
  #benefits-title {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}
